.store {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-areas: "product-filters product-list";
  height: 100%;
  position: relative;
  margin-top: 8rem;
}
.product-container {
  justify-content: space-around;
}
.product-list {
  grid-area: product-list;
}

@media only screen and (max-width: 768px) {
  .store {
    grid-template-columns: 1fr;
  }
}
