.product {
  width: 23%;
  min-width: 25rem;
  border: 1px solid #cce7d0;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.product img {
  width: 100%;
  border-radius: 2rem;
  min-height: 27rem;
  max-height: 29rem;
}
.product .product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.product .product-description i {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--star-color);
}
.product-container .icon-style {
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-container .cart {
  position: absolute;
  bottom: 7px;
  right: 20px;
}
.product-container .cart:hover {
  color: var(--hover-color);
}
.product-container .heart {
  position: absolute;
  right: 20px;
  top: 16px;
}
.product-container .heart:hover {
  color: var(--red);
}
