.product-filters {
  grid-area: product-filters;
  padding: 2rem;
  position: fixed;
  width: 30rem;
  min-width: 25rem;
  height: 100%;
  overflow-y: scroll;
  border-right: 2px solid var(--bg-primary);
  height: 85vh;
}
.product-filters::-webkit-scrollbar {
  width: 0.8rem;
}
.product-filters::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--hover-color);
}
.product-filters::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.filters-group input[type="range"] {
  width: 100%;
  color: var(--bg-primary);
}

.btn-filters {
  background-color: var(--bg-primary);
  color: var(--color-dark);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .product-filters {
    display: none;
  }
}
