:root {
  /* txt */
  --txt-color-dark: #1a1818;
  --red: rgb(184, 7, 7);
  /* bg colors */
  --bg-primary: #c7d0f5;

  /* menu bg */
  --bg-menu: #8397ed;

  /* hover */
  --hover-color: #06645e;

  /* Rating color*/
  --star-color: rgb(180, 138, 12);
}
.pointer {
  cursor: pointer;
}

label:hover ~ label,
input[type="radio"]:checked ~ label {
  color: black;
}

label {
  display: inline-block;
  width: 85%;
}

.color-hover {
  color: var(--hover-color);
}

.border-bottom {
  border-bottom: 2px solid #333;
}
