:root {
  /* txt */
  --txt-color-dark: #1a1818;
  --red: rgb(184, 7, 7);
  --scrollbar-color: rgb(40, 40, 112);
  /* bg colors */
  --bg-primary: #c7d0f5;

  /* menu bg */
  --bg-menu: #8397ed;

  /* hover */
  --hover-color: #06645e;

  /* Rating color*/
  --star-color: rgb(180, 138, 12);
}
h1 {
  font-size: 5.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5,
p {
  font-size: 1rem;
}
.pointer {
  cursor: pointer;
}

label:hover ~ label,
input[type="radio"]:checked ~ label {
  color: black;
}

label {
  display: inline-block;
  width: 85%;
}

.color-hover {
  color: var(--hover-color);
}

.border-bottom {
  border-bottom: 2px solid #333;
}

/* scoll bar */

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--hover-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  /* outline: 1px solid black; */
}
